@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body{
  font-family:'Montserrat', sans-serif;
}

html,body
{
    width: 100%;
    margin:0;
    padding-top: 40px;
    overflow-x: hidden; 
}

.brand-font {
font-family: p22-hopper-edward, sans-serif;
font-weight: 400;
font-style: normal;
font-size:250%;
}

.hopper {
font-family: p22-hopper-edward, sans-serif;
font-weight: 400;
font-style: normal;
font-size:200%; 
padding:0px;
}

.container{
min-width:100%;
height:100vh;
background: url('../css/assets/old-ireland-fragm.jpg') no-repeat center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
display:flex;
align-items:center;
justify-content:center;
padding-top:55px;

}

div.col-sm{
    padding-top:18px;
    border:1px solid rgb(126, 126, 126, .5);
    margin:2px;
    background-color:rgb(242,242,242,.9)
}

div.col-sm.ireland{
    padding:5px;
}
div.container.services-container{
    padding-top:20px;
    height:120vh;
}

div.container.about-container{
    color:white;
}


.jumbotron-about.text-center{
    background-color:rgba(65, 62, 62, 0.767);
    padding:15px;
}



div.row{
    padding-top:15px;
}

.jumbotron{
background:none;
}

section.jumbotron.text-center{
    padding:8px 8px 8px 16px;
   
}

section.jumbotron.text-center p{
    margin:5px;
    
}
/*Navbar styling*/

.navalert-container {
    position:fixed;
    top:0;
    left:0;
    padding-left:0;
    padding-right:0;
    z-index:1;
}

.navbar{
    margin-bottom:0;
    border:0;
    width:100%;
    display:flex;
    box-sizing: border-box;
}

.bg-light {
    background-color: #ffffff!important;

}

.navbar-brand{
font-family: p22-hopper-edward, sans-serif;
font-weight: 400;
font-style: normal;
font-size:300%;
}


button.navbar-toggler.ml-auto{
    margin-right:8px;
}

a:hover, a:focus { text-decoration: none;}
button.btn.btn-link {
    text-decoration:none;
    color: #444546;
    }
/*Footer*/

.footer{
    width:100%;
}

.copyright {
    margin-top:16px;
    margin-right:0px;  
}

/*Gallery*/

iframe{
  width:100%;
  padding-top:10px;
  padding-right:0;
}

.row{
  padding-top:50px;
  
}

.button{
  margin:auto;
  display:inline;
  font-family:"Verdana";
  
}

.tp-font{
font-family: p22-hopper-edward, sans-serif;
font-weight: 400;
font-style: normal;
font-size:220%;
}

button.btn.btn-outline-secondary.brand-font {
    padding:0;

}
.responsive-width{
    font-size:90%;
}

/*Services accordeon*/

.card-header{
    background: url('../css/assets/old-ireland-fragm.jpg') no-repeat center center fixed;
    /*resizing background image*/
    background-size: 2000px;
    height: auto;
}


.div.card.text-center{
    padding-top:15px;
    padding-bottom:15px;
}

.price{
    border:1px solid rgba(65, 62, 62, 0.5);
    background-color: rgb(170, 250, 65);
    
    margin:2px;
    padding:3px;
    
}

button.btn.btn-link{
    border:1px solid rgba(65, 62, 62, 0.5);
  background-color: rgb(247, 250, 244, 0.8);
  margin-top:10px;
}

/*form*/

.form-section{
    clear:left;
    background: url('../css/assets/old-ireland-fragm.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    height:900px;
}

.signup-form{
    margin-top:150px;
    color:#fff;
    background-color: rgba(60,60,60,.6);
    max-width:600px;
    position:absolute;
    left:10%;
    padding:30px;}

.signup-form h2{
    color:#fafafa;
    margin-bottom:20px;
    
}

.text-input{
    background-color:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius:2px;
}

.text-input:hover{
    border-color:#f16c6b;
}

.join-button{
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#f16c6b;
    color:#fafafa;
    display:block;
}

.join-button-color:hover{
    background-color:#fafafa;
    color:#f16c6b;
}

label{
    padding-left:20px;
}

@media screen and (max-width: 640px) {
    .signup-form{
        
        margin-right:auto;
        margin-left:auto;
       

    }
}



