@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');


body{
  font-family:'Montserrat', sans-serif;
 
}

html,body
{
    width: 100%;
    min-height: 100%;
    margin:0;
    
    overflow-x: hidden; 
}

*{
    box-sizing:border-box;
}
/*Hiding scrollbar visibility as it's affecting smoothness of the collapsible elements*/
::-webkit-scrollbar {
    display: none;
}

/*Decorative font to match logo on videos*/
.brand-font {
font-family: p22-hopper-edward, sans-serif;
font-weight: 400;
font-style: normal;
font-size:110%;
}

.about_beeing-about p{
    max-width: 100%;
    height: auto;
    padding: 8%;   
}

/*Navbar styling*/

.navalert-container {
    position:sticky;
    top:0;
    left:0;
    padding-left:0;
    padding-right:0;
    max-height:80px;
    z-index:1;
}

.navbar{
    margin-bottom:0;
    border:0;
    width:100%;
    display:flex;
    box-sizing: border-box;
    z-index:1;
}

.bg-light {
    background-color: #ffffff!important;

}

.navbar-brand{
font-family: p22-hopper-edward, sans-serif;
font-weight: 400;
font-style: normal;
font-size:300%;
}


button.navbar-toggler.ml-auto{
    margin-right:8px;
}

.short-line{
    width:50%;
    align-self: auto;
}
.circle-cover-bg{
    width:auto;
    text-align:center;
    padding:20px;    
}

img { 
width: 200px; 
height: 200px; 
border-radius:50%;
 }

.what-our-clients-say,p {
    padding-left:4%;
    padding-right:4%;
}
a:hover, a:focus { text-decoration: none;}
button.btn.btn-link {
    text-decoration:none;
    color: #444546;
    }
/*Testimonials*/


/*#girl{
 width: 300px;
  height: 300px;
  background-image: url("css/assets/girl.jpg") no repeat center center;
  border-radius: 50%;
  background-size: cover;
}*/



.footer{
    position:absolute;
    width:100%;
    z-index:-9999;
    margin-right:auto;
    margin-left:auto;
}

.copyright {
    margin-top:16px;
    margin-right:0px;  
}

button.btn.btn-secondary{
    background:rgba(65, 62, 62,0.8);
    margin:20px;
    
}


/*Gallery*/


iframe{
  width:100%;
  padding-top:10px;
  padding-right:0; 
}



/*Decorative font styling of the Travel Plan button*/

.tp-font{
font-family: p22-hopper-edward, sans-serif;
font-weight: 400;
font-style: normal;
font-size:220%;
}

button.btn.btn-outline-secondary.brand-font {
    padding:0;
}
.responsive-width{
    font-size:90%;
}

/*Services accordeon*/

.card-header{

    height: auto;
    margin-top:0;
}
#headingOne{
    padding-top:100px;
}



/*Pseudo button created to accompany collapsible element*/
.price{
    border:1px solid rgba(254, 255, 251);
    color:#ffffff;
    margin:2px;
    padding:3px;
    border-radius:4px;
    
    
}

/*Highlight effect added onto the pseudo-button*/
.price:hover{
    background-color:rgba(254, 255, 251);
    color:rgba(65, 62, 62);
    box-shadow: 1px 2px 5px rgba(254, 255, 251);
    
}
/*Background for collapsible heading made more visible*/
button.btn.btn-link{    
background-color:rgba(65, 62, 62, 0.7);
  margin-top:10px;
  color:#ffffff;
 
}

/*form*/
.contact-us{
    background: #ffffff;
    height:900px;
}

.contact-form{
    margin-top:90px;
    color:#fff;
    background-color: rgba(60,60,60,.6);
    max-width:600px;
    position:absolute;
    right:35%;
    padding:15px;
    border-radius:4px;
    margin-left:auto;
    margin-right:auto;}

.contact-form h2{
    color:#fafafa;
    margin-bottom:20px;    
}

.question{
    font-family: p22-hopper-edward, sans-serif;
font-weight: 400;
font-style: normal;
font-size:300%;
text-shadow: 2px 2px 5px #ffffff;
}

.text-input{
    background-color:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin:5px 0 20px 0;
    border:1px solid #fafafa;
    border-radius:2px;
}

/*Highlighting the text boxes*/
.text-input:hover{
    border-color:#abe68f;
}

/*Formatting the submit button*/
.join-button{
    margin-top:20px;
    border-radius:4px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#ffffff;
    color:#383838;
    display:block;
}

/*Minor animation on hover over the submit button*/
.join-button:hover{
    background-color:#ffffff;
    color:#383838;
    box-shadow: 1px 2px #3b3b3b;
    text-shadow: 2px 2px 5px #3b3b3b;
    border-radius:4px;
}


label{
    padding-left:20px;
}
@media (min-width: 1920px) {

    .navbar{
          font-size:100%;
    }

    .about_beeing-about p {
    max-width: 100%;
    height: auto;
    padding: 4%;
    font-size:130%;
    }
}
@media (min-width: 2000px) {
body{
    padding-top:150px;
}
      .navbar{
          font-size:250%;
      }
      .nav-link{
          padding-left:10px;
      }

      .about_beeing-about p {
    max-width: 100%;
    height: auto;
    padding: 2%;
    font-size:250%;
    }
    .brand-font{
        font-size:250%!important;
    }
}

/* iPhone 5 */
/*
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2) {


p{
font-size:11px;
}   
}
/*Galaxy S5*/
/*@media screen and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 3){
p{
font-size:11px;
} 
.container.about-container{
    padding-top:0;   
}

}


/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { 
.navbar{
          font-size:50%;}
.jumbotron-about.text-center {
        margin-top:10px;
        padding:20px;
        font-size:5px;}
.footer{
      font-size:20px;}
}

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) {

.navbar{
          font-size:250%;}





@media (min-width: 2000px) {

      .navbar{
          font-size:250%;
      }
                
.about_beeing-about p{
    max-width: 100%;
    height: auto;
    padding: 8%;
    font-size:400%;
}
     .footer{
      font-size:40px;
      }
          
      }

@media screen and (max-width:768px)
.navbar{
          font-size:50%;
      }

      .jumbotron-about.text-center {
        margin-top:10px;
        padding:20px;
        font-size:5px;
      }

     .footer{
      font-size:20px;
      }
          
      }



}*/


